
<footer class="footer">
	<div class="mapping">
		<div data-speed="20" class="block-address parallax">
			<div class="block-address_title">address</div>
			<div class="block-address_container">
				<p>220012 Minsk</p>
				<p>Nezavisimosti prospect</p>
				<p>177-56 office 56</p>
			</div>
		</div>
		<div data-speed="20" class="block-address contact parallax">
			<ul class="dash-list">
				<li>+375 17 394 21 54</li>
				<li><a href="mailto:" class="mail">PRESTIGE@GMAIL.COM</a></li>
			</ul>
		</div>
		<div data-speed="20" class="link-case parallax"><a href="#" class="link-dash">+contacts</a></div>
	</div>
	<div class="letters">
		<div data-direction="1" class="letters_item letters-e parallax">E</div>
	</div>
</footer>