doctype html
head
  title 1-0projects-inner
  include ./_head.jade
.out
  include ./_frame.jade
  .frame.frame_left
    .breadcrumbs-container
      .breadcrumbs-inner
        ul.breadcrumbs-list
          li
            a(href='#') Home
          li
            a(href='#') Projects
  include ./_grid.jade
  .wrapper
    section.section
      .section__head.head__projects-inner
        .head__projects-bg.head-about
          img(src='img/projects/projects.jpg', alt='')
        .lead.parallax(data-speed='5')
          .title # about
      .container
        .task__projects
          .product_selector.product-about
            .product_selector-item
              .product__head Our factory has 
                br
                |a big history
            .product_selector-item
              
              .text.text-first
                p
                  |Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic

              .text.text-second
                p
                  |Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic is then transformed into reality. We decided to show you the process and filmed the creation of our office.
            .product_selector-item.big-text
              .product_selector-title
              .text
                p
                  |Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic is then transformed into reality. We decided to show you the process and filmed the creation of our office. Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic is then transformed into reality. We decided to show you the process and filmed the creation of our office.  
        .container.container_presents
          .task__projects
            .presents__head 
              |Andrew Marchyk present
            .presents__block.block-text Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic is then transformed into reality. We decided to show you the process and filmed the creation of our office. Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic is then transformed into reality. We decided to show you the process and filmed the creation of our office.  
            .presents__block.block-img
              img.parallax(data-speed='10',data-direction='1',src="/img/about/marchuk.jpg", alt="")
            .presents__block.block-float
              p Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic is then transformed into reality. 
              p.presents-article Andrew marchyk, shef
        section.section.kredo
          .container.container__kredo
            .task__kredo
              .task__kredo-photo
                img.parallax(data-speed='20',data-direction='1',src="/img/projects/kredo.jpg", alt="")
              .task__kredo-text.parallax(data-speed='15',data-direction='1') We make a good
                br
                | job and love our
                br
                | work so much
          .letters
              .letters_item.letters-s.parallax(data-speed='15',data-direction='1') S
              .letters_item.letters-p.parallax(data-speed='25',data-direction='1') P
              .letters_item.letters-e.parallax(data-speed='40',data-direction='1') E
      .container.project__case 
        .task__projects
          .product_selector
            .product_selector-item
              .product__head Some facts
            .product_selector-item
              .product_selector-title
                .heading
                  .heading-text
                    span 01
              .text
                p
                  | The project solves the distribution
                  br
                  | and equipping a workspace of an 
                  br
                  |advertising agency in a building
                  br
                  | of three free plants in Buenos
                  br
                  | Aires, Argentina. 
            .product_selector-photo.photo_left.parallax(data-speed='10',data-direction='1')
              img.parallax(data-speed='10',data-direction='1',src="/img/projects/half.jpg", alt="")
              p.text.parallax(data-speed='5',data-direction='1') Two days before the release, Uli Sigg and director
                br
                | Michael Schindhelm attended a screening
                br
                | in Bern
            .product_selector-item.fact_2
              .product_selector-title
                .heading
                  .heading-text
                    span 02
              .text
                p
                  | The project solves the distribution
                  br
                  | and equipping a workspace of an 
                  br
                  |advertising agency in a building
                  br
                  | of three free plants in Buenos
                  br
                  | Aires, Argentina. 
        .letters
          .letters_item.letters-r.parallax(data-direction='1') R
          .letters_item.letters-i.parallax(data-speed='25',data-direction='1') I
          .letters_item.letters-g.parallax(data-direction='1') G
          .letters_item.letters-t.parallax(data-direction='1') T
        //видео по желанию <video autoplay loop></video>
        .task__projects.parallax(data-speed='15',data-direction='1')
          .product_selector
            .product_selector-photo.photo_right
              img(src="/img/projects/here.jpg", alt="")
        .task__projects
          .product_selector
            .product_selector-photo.photo_center
              img.parallax(data-speed='15',data-direction='1',src="/img/projects/photo_3.jpg", alt="")
              p.text.parallax(data-speed='15',data-direction='1') Two days before the release

    section.section.section__links
      a.links.parallax(href='#', data-speed='15')
        .section_container
          .topper you can see
          .middle
            .text(style="background-image: url('../img/mask.jpg')") next project
            .arrow
              .icon(style="background-image: url('../img/icons/arrow.png')")
  include ./_footer-inner.jade
include ./_menu.jade