footer.footer
  .mapping
    .block-address.parallax(data-speed='20')
      .block-address_title address
      .block-address_container
        p 220012 Minsk
        p Nezavisimosti prospect
        p 177-56 office 56
    .block-address.contact.parallax(data-speed='20')
      ul.dash-list
        li +375 17 394 21 54
        li
          a.mail(href='mailto:') PRESTIGE@GMAIL.COM
    .link-case.parallax(data-speed='20')
      a.link-dash(href='#') +contacts
  .letters
    .letters_item.letters-e.parallax(data-direction='1') E