#navigation.navigation
  .navigation__container
    .lang
      a.lang-item.active(href='#') ENG
      a.lang-item(href='#') Рус
    .close
      span.menu
      span.text Close
    .wgrid
      .row
        .column
          ul
            li.active
              a(href='index.html') Home
        .column
          ul
            li
              a(href='1-0projects.html') Projects
            ul
              li
                a(href='1-0projects-inner.html') Interior design
              li
                a(href='#') Design furniture
        .column
          ul
            li
              a(href='3-0services.html') Servises
            ul
              li
                a(href='3-1services-inner.html') Mounting
              li
                a(href='4-1designers.html') Designers
              li
                a(href='#') interior design
        .column
          ul
            li
              a(href='2-0about.html') About
        .column
          ul
            li
              a(href='4-0designers.html') Designers
        .column
          ul
            li
              a(href='5-0contact.html') contacts
    .media
      a.media-item(href='#')
        .media-item_icon
          svg.icon(viewbox='0 0 32 26.5', xmlns='http://www.w3.org/2000/svg')
            path(d='m31.993,3.32975c-1.177,0.523 -2.441,0.876 -3.77,1.033c1.355,-0.812 2.396,-2.098 2.887,-3.63c-1.269,0.751 -2.673,1.299 -4.168,1.592c-1.198,-1.275 -2.904,-2.072 -4.793,-2.072c-3.625,0 -6.562,2.938 -6.562,6.563c0,0.514 0.057,1.016 0.169,1.496c-5.455,-0.274 -10.291,-2.887 -13.529,-6.858c-0.564,0.97 -0.888,2.097 -0.888,3.3c0,2.278 1.159,4.286 2.919,5.464c-1.075,-0.035 -2.087,-0.329 -2.972,-0.821c-0.001,0.027 -0.001,0.056 -0.001,0.082c0,3.181 2.262,5.834 5.265,6.437c-0.55,0.149 -1.13,0.23 -1.729,0.23c-0.424,0 -0.834,-0.041 -1.234,-0.117c0.834,2.606 3.259,4.504 6.13,4.558c-2.245,1.76 -5.075,2.811 -8.15,2.811c-0.53,0 -1.053,-0.031 -1.566,-0.092c2.904,1.86 6.354,2.947 10.061,2.947c12.072,0 18.675,-10.001 18.675,-18.675c0,-0.284 -0.008,-0.568 -0.02,-0.85c1.283,-0.925 2.395,-2.08 3.276,-3.398z')
      a.media-item(href='#')
        .media-item_icon
          svg.icon(viewbox='0 0 25.5 32.5', xmlns='http://www.w3.org/2000/svg')
            path(d='m25.052685,10.738551c0,7.209998 -4.007999,12.597997 -9.918006,12.597997c-1.985008,0 -3.851011,-1.073 -4.49001,-2.292c0,0 -1.068,4.235001 -1.292,5.053001c-0.796,2.887999 -3.136995,5.776999 -3.317995,6.014999c-0.127,0.165001 -0.406999,0.112999 -0.436999,-0.105c-0.051,-0.368 -0.646998,-4.013 0.055,-6.986c0.352,-1.493 2.363995,-10.015999 2.363995,-10.015999s-0.585999,-1.174 -0.585999,-2.908c0,-2.725 1.577999,-4.758001 3.543998,-4.758001c1.672,0 2.479005,1.254001 2.479005,2.759001c0,1.681999 -1.069004,4.193999 -1.622005,6.521997c-0.460999,1.950001 0.978,3.541 2.90101,3.541c3.482007,0 5.827006,-4.473998 5.827006,-9.772998c0,-4.028001 -2.712,-7.044001 -7.648014,-7.044001c-5.574,0 -9.048994,4.158 -9.048994,8.803002c0,1.602 0.473,2.731999 1.212999,3.605c0.338999,0.401999 0.386998,0.562999 0.263999,1.024999c-0.09,0.339001 -0.289999,1.152 -0.375999,1.475c-0.121999,0.466 -0.499,0.632 -0.92,0.459999c-2.567,-1.048 -3.764,-3.860998 -3.764,-7.021997c0.001,-5.221001 4.404,-11.482001 13.136995,-11.482001c7.019012,0 11.636013,5.077 11.636013,10.530001z')
      a.media-item(href='#')
        .media-item_icon
          svg.icon(viewbox='0 0 23 49', xmlns='http://www.w3.org/2000/svg')
            path(d='m22.737801,16.098009l-7.644997,0l0,-5.013981c0,-1.882998 1.247997,-2.321999 2.126995,-2.321999c0.877003,0 5.395,0 5.395,0l0,-8.27801l-7.429996,-0.029c-8.247971,0 -10.124967,6.174007 -10.124967,10.12501l0,5.517979l-4.769991,0l0,8.529999l4.769991,0c0,10.947001 0,24.136999 0,24.136999l10.032968,0c0,0 0,-13.32 0,-24.136999l6.769997,0l0.875,-8.529999z')
