doctype html
html
  head
    title index
    include ./_head.jade
  body
    .out
      include ./_frame.jade
      .frame.frame_left
      include ./_grid.jade
      .wrapper
        section.section.section_carousel
          .lead.parallax(data-speed='15')
            .title # THE PRESTIGE
            .subtitle
              | Furniture Factory 
              br
              |  in Belarus
          .sq-carousel
            .sq-carousel_rotator.sq-carousel-l
              .sq-carousel-item.active
                .sq-carousel_bg(style='background-image: url(img/bg/slide.jpg);')
              .sq-carousel-item
                .sq-carousel_bg(style='background-image: url(img/bg/slide.jpg);')
              .sq-carousel-item
                .sq-carousel_bg(style='background-image: url(img/bg/slide.jpg);')
              .sq-carousel-item
                .sq-carousel_bg(style='background-image: url(img/bg/slide.jpg);')
            .sq-carousel_rotator.sq-carousel-r
              .sq-carousel-item.active
                .sq-carousel_bg(style='background-image: url(img/bg/stairs.jpg);')
              .sq-carousel-item
                .sq-carousel_bg(style='background-image: url(img/bg/stairs.jpg);')
              .sq-carousel-item
                .sq-carousel_bg(style='background-image: url(img/bg/stairs.jpg);')
              .sq-carousel-item
                .sq-carousel_bg(style='background-image: url(img/bg/stairs.jpg);')
            .sq-carousel_rotator.sq-carousel-c
              div
                .sq-carousel-item.active
                  .shader
                    a.link-shader(href='4-1designers.html')
                      | Penthouse Minsk1 
                      span 2015
                .sq-carousel-item
                  .shader
                    a.link-shader(href='4-0designers.html')
                      | Penthouse Minsk2 
                      span 2015
                .sq-carousel-item
                  .shader
                    a.link-shader(href='3-0services.html')
                      | Penthouse Minsk3 
                      span 2015
                .sq-carousel-item
                  .shader
                    a.link-shader(href='3-1services-inner.html')
                      | Penthouse Minsk4 
                      span 2015
            .sq-carousel-navi
              button.sq-carousel-next(type='button')
                .icon
                  svg(viewbox='0 0 41.2 19', xmlns='http://www.w3.org/2000/svg')
                    path.fill(d='m0,8.9l25,0l0,2l-25,0l0,-2z', clip-rule='evenodd', fill-rule='evenodd')
                    path.stroke(d='m39.2,9.5l-13.5,7.8l0,-15.6l13.5,7.8z', stroke-miterlimit='10', stroke-width='2', fill='none')
        section.section.section_projects
          .lead.parallax(data-speed='15')
            .title # projects
          .carousel_layout-container
            .carousel_layout
              .carousel_layout-item.active
                .carousel_layout-bg.parallax(data-speed='10', data-direction='1')
                  img.parallax(src='img/bg/Render.jpg', alt='', data-speed='20', data-direction='-1')
              .carousel_layout-item
                .carousel_layout-bg.parallax(data-speed='10', data-direction='1')
                  img.parallax(src='img/bg/Render.jpg', alt='', data-speed='15', data-direction='1')
              .carousel_layout-item
                .carousel_layout-bg.parallax(data-speed='10', data-direction='1')
                  img.parallax(src='img/bg/Render.jpg', alt='', data-speed='20', data-direction='-1')
              .carousel_layout-item
                .carousel_layout-bg
                  img(src='img/bg/Render.jpg', alt='')
            .carousel_text
              .carousel_text-item.active
                a.title(href='#')
                  | Penthouse Minsk 
                  span 2015
                .product_selector
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Client
                    .text
                      p Big Ivanov`s family with 4 childrens and dog Masha and cat
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Task
                    .text
                      p
                        | Wooden table with a triangular- shaped hole in the middle.  Ideal for business meetings. Each place has a personal outlet for laptop
              .carousel_text-item
                a.title(href='#')
                  | 2Penthouse Minsk 
                  span 2015
                .product_selector
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Client
                    .text
                      p Big Ivanov`s family with 4 childrens and dog Masha and cat
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Task
                    .text
                      p
                        | Wooden table with a triangular- shaped hole in the middle.  Ideal for business meetings. Each place has a personal outlet for laptop
              .carousel_text-item
                a.title(href='#')
                  | 3Penthouse Minsk 
                  span 2015
                .product_selector
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Client
                    .text
                      p Big Ivanov`s family with 4 childrens and dog Masha and cat
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Task
                    .text
                      p
                        | Wooden table with a triangular- shaped hole in the middle.  Ideal for business meetings. Each place has a personal outlet for laptop
              .carousel_text-item
                a.title(href='#')
                  | 4Penthouse Minsk 
                  span 2015
                .product_selector
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Client
                    .text
                      p Big Ivanov`s family with 4 childrens and dog Masha and cat
                  .product_selector-item
                    .product_selector-title
                      .heading
                        .heading-text
                          span Task
                    .text
                      p
                        | Wooden table with a triangular- shaped hole in the middle.  Ideal for business meetings. Each place has a personal outlet for laptop
            .carousel_navi
              button.carousel_layout-next
                .icon
                  svg(viewbox='0 0 104 116', xmlns='http://www.w3.org/2000/svg')
                    path(d='m60.511,84.536c-0.386,1.035 0.14,2.187 1.175,2.573l16.745,6.248c-7.854,5.62 -17.1,8.59399 -26.804,8.59399c-25.435,0 -46.127,-20.69299 -46.127,-46.12799c0,-1.104 -0.896,-2 -2,-2s-2,0.896 -2,2c0,27.64 22.487,50.12799 50.127,50.12799c9.725,0 19.026,-2.75 27.111,-7.966l-3.087,14.551c-0.229,1.07999 0.461,2.142 1.541,2.37099c0.14,0.03 0.279,0.044 0.417,0.044c0.925,0 1.755,-0.645 1.954,-1.586l4.68999,-22.105l-21.17,-7.898c-1.032,-0.385 -2.185,0.139 -2.572,1.174zm-8.136,-74.214c-9.728,0 -19.03,2.749 -27.11,7.963l3.086,-14.548c0.229,-1.081 -0.46,-2.142 -1.541,-2.371c-1.077,-0.229 -2.143,0.461 -2.371,1.542l-4.69,22.104l21.17,7.898c0.23,0.086 0.467,0.127 0.699,0.127c0.811,0 1.573,-0.498 1.874,-1.302c0.386,-1.034 -0.14,-2.187 -1.175,-2.573l-16.747,-6.25c7.85,-5.618 17.097,-8.591 26.806,-8.591c25.434,0 46.125,20.691 46.125,46.125c0,1.104 0.896,2 2,2s2,-0.896 2,-2c-0.001,-27.638 -22.487,-50.124 -50.126,-50.124z')
            .link_case.parallax(data-speed='15')
              a.link-dash(href='#') +view project
          .letters
            .letters_item.letters-p.parallax(data-direction='1') P
            .letters_item.letters-r.parallax(data-direction='1') R
        section.section.section_services
          .lead.parallax(data-speed='15')
            .title # services
          .work_gallery
            .work_gallery-item.work_gallery-item-small.work_gallery-item-small_left.leftparallax(data-speed='0.6')
              a(href='')
                .work_gallery-img
                  img.parallax(src='img/bg/work.jpg', data-speed='0.2', data-direction='-1', alt='')
                .work_gallery-name Mounting
            .work_gallery-item.work_gallery-item-big.center
              a(href='')
                .work_gallery-img
                  img.parallax(src='img/bg/work.jpg', data-speed='0.2', data-direction='-1', alt='')
                .work_gallery-name Manufacturing of furniture to order
            .work_gallery-item.work_gallery-item-small.work_gallery-item-small_right.rightparallax(data-speed='0.2')
              a(href='')
                .work_gallery-img
                  img.parallax(src='img/bg/work.jpg', data-speed='0.2', data-direction='-1', alt='')
                .work_gallery-name Interior design
          .link_case.parallax(data-speed='15')
            a.link-dash(href='#') +all services
          .letters
            .letters_item.letters-e.parallax(data-direction='1') E
            .letters_item.letters-s.parallax(data-direction='1') S
        section.section.section_about
          .section_container
            .lead.parallax(data-speed='15')
              .title # about
              .subtitle We love our job
            .text-lock.parallax(data-speed='15')
              .headingWrap
                | Many of our clients want to know how we create interior designs in our studio, what processes happen 
                br
                |  in our brains, and how this magic
              p
                | Many of our clients want to know how we create interior designs in our studio, what processes happen in our brains, and how this magic is then transformed into.
            .link_case
              a.link-dash.parallax(data-speed='15', href='#') +read more
            span.date.parallax(data-speed='10') 1976
          .burnable
            .burnImg1.burn.parallax(data-speed='15')
              img.parallax(src='img/bg/burnImgAbout1.jpg', data-speed='25', data-direction='-1')
            .burnImg2.burn.parallax(data-speed='15')
              img.parallax(src='img/bg/burnImgAbout2.jpg', data-speed='25', data-direction='-1')
        section.section.section_designer
          .section_container
            .lead.parallax(data-speed='15')
              .title # designers
              .subtitle
                | See 
                a.link-dash.parallax(data-speed='15', href='#') all our designers
          .carousel__container
            .carousel__designer.swiper-container
              .carousel__designer-rotator.swiper-wrapper
                .designer-slide.swiper-slide
                  .designer-item.parallax(data-speed='15', data-direction='1')
                    a(href='#')
                      span.counter 54.
                      .designer-img
                        img.parallax(src='img/designer/howard.jpg', alt='', data-speed='15', data-direction='-1')
                      .designer-name Dasha Chernaia
                      span.designer-position
                        | interior design, 
                        br
                        |  design furniture
                  .designer-item.parallax(data-speed='15', data-direction='1')
                    a(href='#')
                      span.counter 25.
                      .designer-img
                        img.parallax(src='img/designer/howard.jpg', alt='', data-speed='15', data-direction='-1')
                      .designer-name Misha dolgorykii
                      span.designer-position design furniture
                  .designer-item.parallax(data-speed='15', data-direction='1')
                    a(href='#')
                      span.counter 03.
                      .designer-img
                        img.parallax(src='img/designer/howard.jpg', alt='', data-speed='15', data-direction='-1')
                      .designer-name Timofei ivanov
                      span.designer-position
                        | interior design, 
                        br
                        |  design furniture
              .carousel__designer-navi
                button.carousel__designer-next
                  .icon
                    svg(viewbox='0 0 104 116', xmlns='http://www.w3.org/2000/svg')
                      path(d='m60.511,84.536c-0.386,1.035 0.14,2.187 1.175,2.573l16.745,6.248c-7.854,5.62 -17.1,8.59399 -26.804,8.59399c-25.435,0 -46.127,-20.69299 -46.127,-46.12799c0,-1.104 -0.896,-2 -2,-2s-2,0.896 -2,2c0,27.64 22.487,50.12799 50.127,50.12799c9.725,0 19.026,-2.75 27.111,-7.966l-3.087,14.551c-0.229,1.07999 0.461,2.142 1.541,2.37099c0.14,0.03 0.279,0.044 0.417,0.044c0.925,0 1.755,-0.645 1.954,-1.586l4.68999,-22.105l-21.17,-7.898c-1.032,-0.385 -2.185,0.139 -2.572,1.174zm-8.136,-74.214c-9.728,0 -19.03,2.749 -27.11,7.963l3.086,-14.548c0.229,-1.081 -0.46,-2.142 -1.541,-2.371c-1.077,-0.229 -2.143,0.461 -2.371,1.542l-4.69,22.104l21.17,7.898c0.23,0.086 0.467,0.127 0.699,0.127c0.811,0 1.573,-0.498 1.874,-1.302c0.386,-1.034 -0.14,-2.187 -1.175,-2.573l-16.747,-6.25c7.85,-5.618 17.097,-8.591 26.806,-8.591c25.434,0 46.125,20.691 46.125,46.125c0,1.104 0.896,2 2,2s2,-0.896 2,-2c-0.001,-27.638 -22.487,-50.124 -50.126,-50.124z')
          .letters
            .letters_item.letters-g.parallax(data-direction='1') G
            .letters_item.letters-i.parallax(data-direction='1') I
      include ./_footer.jade
    include ./_menu.jade